
<div class="row">
	<div class="col-md-9">
		<h1>Shopping Cart</h1>
		<div class="row">
		<% @carted_products.each do |carted_product| %>
			<div class="col-md-12">
				<div class="row carted_product">
					<div class="col-md-3">
			  		<img src="<%= carted_product.product.image %>">
			  	</div>
			  	<div class="col-md-9">
						<h3><%= carted_product.product.title %></h3>
						<h4>Quantity: <%= carted_product.quantity %></h4>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>

	<div class="col-md-3 complete-purchase">
		<%= form_tag "/orders/#{@order.id}", :method => :patch do %>
		  <%= submit_tag "Complete Purchase!" %>
		<% end %>
	</div>

		
</div>





