 

<!--  Products -->

<div class='row'>
  <div class="col-md-2 col-sm-3 side-filter">
      <span> Filters </span>
      <ul class="side-filter-menu" role="menu">
        <li><a href="/products?sort=price_low_to_high">Price low to high</a></li>
        <li><a href="/products?sort=price_high_to_low">Price high to low</a></li>
        <li><a href="/products?sort=price">Discounted Products </a></li>
      </ul>
  </div>
  <div class="col-md-10 col-sm-9" >
  	<div class="row">
  		<%@products.each do |product|%>
  			<div class="col-md-3 col-sm-4 col-xs-12">
          <div class="block">
            <a href="/products/<%=product.id%>">
            <img class="img-home" src="<%=product.image%>">
            </a>
            <div class="well well-sm block-text">
      				<a href="/products/<%=product.id%>"><h5><%=product.title%></h5> </a>
      				<h5><%=number_to_currency(product.price)%></h5>
      				<% product.categories.each do |category| %>
              <h5><%=category.name%> </h5>
              <% end %>

      				<%=product.brand%>
      				<%=product.description%>
            </div>
          </div>	
  			</div>
  		<%end%>
  	</div>
  </div>
</div>
